.addcontainer {
  margin-top: 3rem;
}

.addcontainer h1 {
  margin-left: 6.4rem;
}

.addbook {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.addbook input {
  margin-right: 30px;
  width: 41.45rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.addbook select {
  margin-right: 30px;
  width: 17.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.addbook button {
  width: 11.5rem;
  height: 2.813rem;
  border-radius: 3px;
  background-color: #0d8ffa;
}
