.book * {
  background-color: white;
}

.book {
  background-color: white;
  height: 7.625rem;
  border: 1px solid #e8e8e8;
  display: flex;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
}

.book div {
  margin-left: 1.688rem;
}

.categ {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.movename {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}

.authname {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.book ul {
  display: flex;
  margin-top: 1.313rem;
  padding: 0;
}

.book button {
  border: none;
  color: #4386bf;
}

.bookstatus {
  display: flex;
  margin-top: 2.188rem;
  width: 4.25rem;
  height: 2.438rem;
  font-size: 1.3rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.progoutter {
  color: #000;
  background-color: #f1f1f1;
}

.proginner {
  color: #fff;
  background-color: #2196f3;
  height: 24px;
  width: 75%;
}

.bookstatus .border {
  width: 0.125rem;
  height: 4.375rem;
  border: solid 1px #e8e8e8;
}

.book .bookupdate {
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 8.75rem;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}

.book .bookupdate :first-child {
  width: 7.875rem;
  height: 1.125rem;
  margin-bottom: 0.438rem;
  display: inline-block;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.book .progressButt {
  width: 11.5rem;
  height: 2.063rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  background-color: #0290ff;
  border-radius: 3px;
  color: #fff;
}

.bookstatus .oval,
.ovalinner {
  border-style: solid;
  border-radius: 50%;
  border-image-source: linear-gradient(to bottom, var(--medium-blue), var(--dodger-blue));
  border-image-slice: 1;
  position: absolute;
}

.bookstatus .oval {
  width: 4.25rem;
  height: 4.25rem;
  right: 38rem;
  background-image: linear-gradient(92deg, #ddd 50%, transparent 50%), linear-gradient(271deg, #028cd5 50%, #ddd 50%);
}

.bookstatus .ovalinner {
  background-color: #fff;
  width: 3.25rem;
  height: 3.25rem;
  margin: 0.459rem;
}
